<div class="item">
  <div class="image">
    <img
      src="https://yoji-cdn.arora.pro/upload/57605119-91bb-4c26-aded-c31b450f1c37/size-1/a76fa392-9c44-4d7c-9d28-ad9b013f4578.PNG"
      alt=""
    />
  </div>
  <div class="summary">
    <div class="title">
      <a>Ролл Креветка и Угорь</a>
    </div>
    <div class="ingredients">
      рис, копчёный угорь, тигровая креветка темпура, киноа, кунжут,
      икра летучей рыбы, авокадо, соус "спайси"
    </div>
  </div>
  <div class="price">
    <div class="value"></div>
    <div class="pr"></div>
    <div class="bottom"></div>
  </div>
</div><div class="item">
  <div class="image">
    <img
      src="https://yoji-cdn.arora.pro/upload/57605119-91bb-4c26-aded-c31b450f1c37/size-1/a76fa392-9c44-4d7c-9d28-ad9b013f4578.PNG"
      alt=""
    />
  </div>
  <div class="summary">
    <div class="title">
      <a>Ролл Креветка и Угорь</a>
    </div>
    <div class="ingredients">
      рис, копчёный угорь, тигровая креветка темпура, киноа, кунжут,
      икра летучей рыбы, авокадо, соус "спайси"
    </div>
  </div>
  <div class="price">
    <div class="value"></div>
    <div class="pr"></div>
    <div class="bottom"></div>
  </div>
</div>